<section id="certifications">
    <h1 class="title">Certifications</h1>

    <div class="certifications-card-grid">

        <div class="certifications-card">
            <div class="certifications-card-content">
              <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Digital Forensic Incident <br> Response Specialist <br> Windows</h3>
              <a class="card-button" ng-href="assets/DFIR.pdf" href="assets/DFIR.pdf" target="_blank">See certificate</a>
              <!-- <iframe src="assets/DFIR.pdf" frameborder="0"></iframe> -->
            </div>
        </div>

        <div class="certifications-card">
            <div class="certifications-card-content">
              <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">	Certified Ethical Hacker</h3>
              <a  href="https://aspen.eccouncil.org/VerifyBadge?type=certification&a=PtYa9FnQ7X3e8eUfIB39tuShoxC4iDMWCIBuAukcN9k=" target="_blank" class="card-button">See certificate</a>
            </div>
        </div>

        <div class="certifications-card">
            <div class="certifications-card-content">
              <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">GIAC Certified Incident <br> Handler</h3>
              <a  class="card-button" href="https://www.credly.com/badges/e70fe9ac-75f2-44e8-af99-38ebf7dcb7f3/public_url"  target="_blank">See certificate</a>
            </div>
        </div>
        
        <!-- <div class="certifications-card">
            <div class="certifications-card-content">
                <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Card 1</h3>
              <a href="#" class="card-button">Read More</a>
            </div>
        </div> -->

    </div>
</section>