<section id="experience">
    <h1 class="title">Experience</h1>
    <div class="experience-grid">
      <div class="Dga">
        <img class="code" src="/assets/img/code.gif" />
        <h3>Incident Responder | National CERT Of Georgia</h3>
      </div>
      <div class="Dga" style="margin-top: 1%;">
        <img class="search" src="/assets/img/search.gif" />
        <h3>Intership | National Cyber Security Center of Lithuania</h3>
      </div>
      <div class="Dga" style="margin-top: 1%;">
        <img class="cyber" src="/assets/img/cyber.gif" />
        <h3>Lecturer | Cyber Class 2022</h3>
      </div>
    </div>
</section>
