<nav class="navbar">
    <div class="container">
        <span>Cyber</span>
        <ul class="menu">
            <li><a (click)="scrollToSection('about')">About</a></li>
            <li><a (click)="scrollToSection('skills')">Skills</a></li>
            <li><a (click)="scrollToSection('experience')">Experience</a></li>
            <li><a (click)="scrollToSection('certifications')">Certifications</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</nav>
<!-- <router-outlet></router-outlet> -->