<!-- <section id="about">
    <div class="about-grid">
        <div class="info">
            <div class="name">:~$ Giorgi Kokaia</div>
            <h1 aria-label="Incident responder">
                :~$&nbsp;<span class="typewriter thick"></span>
            </h1>
              
        </div>
        <div class="img">
            <img src="assets/img/cyberBoy.png">
        </div>
    </div>
</section> -->

<!-- <section id="skills">
    <div class="skills-grid">
        <h1 class="title">Skills</h1>
        <div class="skills-card">

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 1</h3>
                  <p class="card-description">Description for Card 1.</p>
                </div>
            </div>
              
            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 2</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 3</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 4</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 5</h3>
                  <p class="card-description">Description for Card 1.</p>
                </div>
            </div>
              
            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 6</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 7</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Card 8</h3>
                  <p class="card-description">Description for Card 2.</p>
                </div>
            </div>

        </div>
    </div>
</section> -->

<!-- <section id="experience">
    <h1 class="title">Experience</h1>
    <div class="experience-grid">
      <div class="Dga">
        <img class="code" src="/assets/img/code.gif" />
        <h3>Incident Responder | National CERT Of Georgia</h3>
      </div>
      <div class="Dga" style="margin-top: 1%;">
        <img class="search" src="/assets/img/search.gif" />
        <h3>Intership | National Cyber Security Center of Lithuania</h3>
      </div>
      <div class="Dga" style="margin-top: 1%;">
        <img class="cyber" src="/assets/img/cyber.gif" />
        <h3>Lecturer | Cyber Class 2022</h3>
      </div>
    </div>
</section> -->

<!-- <section id="certifications">
    <h1 class="title">Certifications</h1>

    <div class="certifications-card-grid">

        <div class="certifications-card">
            <div class="certifications-card-content">
                <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Card 1</h3>
              <a href="#" class="card-button">Read More</a>
            </div>
        </div>

        <div class="certifications-card">
            <div class="certifications-card-content">
              <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Card 1</h3>
              <a href="#" class="card-button">Read More</a>
            </div>
        </div>

        <div class="certifications-card">
            <div class="certifications-card-content">
                <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Card 1</h3>
              <a href="#" class="card-button">Read More</a>
            </div>
        </div>
        
        <div class="certifications-card">
            <div class="certifications-card-content">
                <img src="assets/img/certificate.png" alt="Card Image">
              <h3 class="certifications-card-title">Card 1</h3>
              <a href="#" class="card-button">Read More</a>
            </div>
        </div>

    </div>
</section> -->
  
<!-- <section id="contact">
    <div class="contact-grid">
        <h1 class="title">Get In Touch</h1>
        
        <form action="" method="post">
            <input class="field" type="text" name="firstname" id="firstname" placeholder="Enter your first name">

            <input class="field" type="text" name="lastname" id="lastname" placeholder="Enter your last name">

            <input class="field" type="email" name="email" id="email" placeholder="Enter your email">

            <textarea class="field" name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>

            <input class="button" type="button" value="Send">

        </form>
    </div>
</section> -->

<app-about></app-about>
<app-skills></app-skills>
<app-experience></app-experience>
<app-certifications></app-certifications>
<!-- <app-contact></app-contact> -->
