#skills {
  height: 100vh;
  scroll-snap-align: centers;
}

.skills-card {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  /* margin-top: 7% */
}

.card {
  width: 300px;
  overflow: hidden;
  margin: 35px;
  background: transparent;
  border: 2px solid #68EE39;
  border-radius: 10px;
  color: white;

}

  .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }

  .card-content {
  padding: 20px;
  }

  .card-title {
  font-size: 24px;
  margin-bottom: 10px;
  }

  .card-description {
  margin-bottom: 15px;
  }

  .title{
  color: white;
  /* margin-left: 4%; */
  padding: 5%;
  font-family: monospace;
  font-size: 50px;
  }