<section id="skills">
    <div class="skills-grid">
        <h1 class="title">Skills</h1>
        <div class="skills-card">

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Incident Response</h3>
                  <!-- <p class="card-description">Description for Card 1.</p> -->
                </div>
            </div>
              
            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Digital Forensics</h3>
                  <!-- <p class="card-description">Description for Card 2.</p> -->
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Cyber Threat Inteligence</h3>
                  <!-- <p class="card-description">Description for Card 2.</p> -->
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Bash Scripting</h3>
                  <!-- <p class="card-description">Description for Card 2.</p> -->
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Windows Registry</h3>
                  <!-- <p class="card-description">Description for Card 1.</p> -->
                </div>
            </div>
              
            <div class="card">
                <div class="card-content">
                  <h3 class="card-title">Computer Networking</h3>
                  <!-- <p class="card-description">Description for Card 2.</p> -->
                </div>
            </div>

        </div>
    </div>
</section>