/* You can add global styles to this file, and also import other style files */
body{
    background: #0D110A;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}